    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;    
    }

    body > header {
        background-color: rgb(0, 0, 0);
        padding: 16px 0;
        color: rgb(252, 252, 252);
    }

    header .container {
        display: flex;
        align-items: center;
    }

    header li {
        display:inline;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        margin-left: 16px;
    }

    header li {
        color: rgb(17, 14, 9);
        text-decoration:none;
    }

    .container {
        width: 1366px;
        margin: 0 auto;
    }

    .articles {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .articles article img {
        /* height: 180px; */
        width: 380px;
    }

    .articles article {
        width: 30%;
    }

    section {
        padding: 16px, 0;
    }

    section h2,
    .articles article {
        margin-bottom: 16px;
    }

    .articles article h3 {
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .articles article a {
        background-color: rgb(0, 0, 255);
        color: rgb(0, 0, 0);
        padding: 8;
        display: inline-block;
        text-decoration: none;
        font-weight: bold;
        margin-top: 8px;
    }

    .articles article a:hover {
        text-decoration: underline;
    }

    .articles article p,
    .articles article a {
        font-family: Arial, Helvetica, sans-serif;
    }

    .articles article h3 {
        font-size: 24px;
    }

    section h2 {
        font-size: 32px;
    }

    #sports {
        background-color: rgba(0, 255, 0, 0.229)
    }
    #sports .articles article a{
        background-color: green;
    }

    #economy {
        background-color: rgb(255, 217, 0);
    }

    #economy .articles article a {
        background-color: orange;
    }

    
    

    #entertainment {
        background-color: rgba(220, 20, 60, 0.551);
    }

    #entertainment .articles article a {
        background-color: rgb(255, 0, 0);
    }

    #tecnology {
        background-color: rgb(135, 135, 141);
    }
    #tecnology .articles article a {
        background-color: aqua;
    }

